<h1> {{restaurant.name}} </h1>
<section>
    <article>
        <div class="input-box">
          <h2>Restaurant</h2>
          <form action="/restaurants/add" method="POST">
            <div class="user-box">
                <input type="text" name="name" id="name" placeholder="Enter Restaurant Name" size="30" required>
                <label>Restaurant Name:</label>
            </div>
            <div class="user-box">
                <input type="url" name="url" id="url" placeholder="https://example.com" pattern="https://.*" size="30" required>
                <label>Restaurant Image:</label>
            </div>
            <button>Add Restaurant</button>
          </form>
        </div>
    </article>
</section>