<section class="container">
    <div class="input-box">
      <h2>{{restaurant.name}}</h2>
      <form id="edit-restaurant-form" action="/restaurants/{{restaurant.id}}/edit" method="POST">
        <div class="user-box">
          <input type="text" name="name" id="name" placeholder="Name.... " size="30" required>
          <label>Restaurant Name:</label>
        </div>
        <div class="user-box">
          <input type="url" name="url" id="url" placeholder="https://example.com" pattern="https://.*" size="30" required>
          <label>Restaurant Image:</label>
        </div>
      </form>
      <form id="delete-restaurant-form" action="/restaurants/{{restaurant.id}}/delete" method="GET"></form>

      <button type="submit" form="edit-restaurant-form"> <B>Update</B> </button>
      <button type="submit" form="delete-restaurant-form"> <B>Delete</B> </button>
    </div>
</section>


