* {
  padding: 0;
  margin: 0;
}

html {
  background-color: whitesmoke;
}

h1 {
  color: #111;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

h2 {
  color: #111;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
}

article {
  width: calc(100% - 2rem);
  height: 25em;
  margin: 1rem 1rem;
}

article #restaurant-image {
  height: 85%;
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  position: center;
  border-radius: 8px;
}

article #restaurant-image-add {
  height: 50%;
  width: 50%;
  object-fit: fill;
  object-position: center;
}

dl div {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://i.pinimg.com/originals/74/fd/3e/74fd3ed7c4becd717cf781ebbc0943a7.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#hero-title {
    color: whitesmoke;
}

#custom-header {
  font-size: 40px;
}

#restaurant-preview:hover {
  transform: scale(1.02);
  transition: 0.5s;
}

#image-add:hover {
    transform: scale(1.2);
    transition: 0.2s;
}

.table {
  display: table;
}
.table > * {
  display: table-row;
}
.table > * > * {
  display: table-cell;
}

/* css for mobile goes here */
@media screen and (min-width: 40em) {
  section {
    margin: 8rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: none;
    gap: 2rem;
  }
  article {
    margin: 0;
    width: 100%;
  }

  .formInput button {
    margin-left: 25%;
  }

  #restaurant-preview:hover {
    transform: scale(1.1);
    transition: 0.5s;
  }
}
@media screen and (min-width: 60em) {
  section {
    grid-template-columns: auto auto auto;
  }
}
