<div id="navbar">
  <a class="active" href="/">Home</a>
</div>
<div class="hero-image">
    <h1 id="hero-title">Restaurants</h1>
</div>

<script>
window.onscroll = function() {myFunction()};

var navbar = document.getElementById("navbar");
var sticky = navbar.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>

<section>
    {{#each restaurants}}
    <article class="restaurant-preview">
        <header></header>
        <a id="restaurantImage" href="/restaurants/{{this.id}}">
            <img id="restaurant-image" src="{{this.image}}">
            <h2 class="restaurant-preview-name"> {{this.name}}</h2>
        </a>
        <a href="/restaurants/{{this.id}}/edit">Edit</a>
        <footer></footer>
    </article>
    {{/each}}
    <article>
        <a href="/restaurants/add"><img id="image-add" src="/images/plus-icon.png" alt="Submit" width="48" height="48"></a>
    </article>
</section>
