<h1>Restaurants</h1>
<section>
    {{#each restaurants}}
        <article>
            <header></header>
            <a href="/restaurants/{{this.id}}">
                <img src="{{this.image}}">
                <h2> {{this.name}}</h2>
            </a>
            <footer></footer>
        </article>
    {{/each}}
</section>
