<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="stylesheet" href="/css/form.css"/>
        <script src="/js/form.js"></script>
    </head>

    <h2 id="custom-header">
        
    </h2>

    <body>
        {{{body}}}
    </body>
</html>