<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="A Restaurant App that allows users to browse end edit and edit a collection of restaurants.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="stylesheet" href="/css/form.css"/>
        <script src="/js/form.js"></script>
        <title> Restaurant-App </title>
    </head>

    <body>
        {{{body}}}
    </body>
</html>