* {
    padding: 0;
    margin: 0;
}

html {
    background-color: whitesmoke;
}

h1 { 
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 32px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
}

h2 {
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 26px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
    text-decoration: none;
}

article{
    width: calc(100% - 2rem);
    height: 25em;
    margin: 1rem 1rem;
}

article #restaurant-image {
    height: 85%;
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    position: center;
}

article #restaurant-image-add {
    height: 50%;
    width: 50%;
    object-fit: fill;
    object-position: center;
    
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

dl div{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

/* css for mobile goes here */
@media screen and (min-width: 40em) {
    section {
        margin: 2rem;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: none;
        gap: 2rem;
    }
    article {
        margin: 0;
        width: 100%;
    }
}
@media screen and (min-width: 60em) {    
    section {
        grid-template-columns: auto auto auto;
    }
}