<div id="navbar">
  <a class="active" href="/">Home</a>
</div>

<section>
  <div class="input-box">
    <form id="add-restaurant-form" action="/restaurants/add" method="POST">
      <div class="user-box">
          <input type="text" name="name" id="name" size="30" required>
          <label>Restaurant Name:</label>
      </div>
      <div class="user-box">
          <input type="url" name="image" id="image" pattern="https://.*" size="30" required>
          <label>Restaurant Image:</label>
      </div>
    </form>
    <div>
      <button id="add-restaurant-button" class="input-button" type="submit" form="add-restaurant-form"> <B>Add</B> </button>
    </div>
  </div>
</section>